<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utils</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container">
        <header class="head">
            <h1>Welcome to the Text Utils Website</h1>
        </header>
        <main class="main">
            <h2>Enter the text.. and see a magic</h2>
        </main>
        <form method="get">
            <textarea name="inputText" rows="10" placeholder="Enter Text...">{{upper_text}}</textarea>
            <button type="submit">UPPERCASE</button>
        </form>
        <footer>Created by Ayan Khan!!</footer>
    </div>

</body>

</html>