{% include "header.html" %}
<div style="text-align: center;margin: 5rem auto;max-width: 80%;">
    <h1 style="margin: 3rem 0;font-size: 5rem;font-weight: 700;">This is About page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At eaque voluptas, ad quisquam aut, rem accusamus
        velit quia aliquid est, illum iusto aliquam. Provident hic, dolorem necessitatibus dolore architecto iste
        labore velit accusantium, ducimus blanditiis molestias iure enim id esse unde quis corrupti sunt ut numquam
        minima molestiae. Excepturi, qui.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam vitae fuga placeat excepturi eveniet, ab,
        eius voluptatum, recusandae tempora voluptates veritatis illum corrupti quas culpa modi aut dolor.
        Exercitationem totam dolorem a, sed repellendus quasi aliquam adipisci. Laudantium dolor temporibus iusto
        similique? Inventore dignissimos itaque magnam alias molestias deserunt, hic dolorum explicabo tenetur,
        sapiente aliquam quos enim neque impedit quasi sed reiciendis doloribus fugiat debitis veritatis officiis
        dolor libero. Modi ut, fugiat minus nam pariatur dolor repudiandae, culpa illum magni, cum in perspiciatis
        ea beatae similique laudantium numquam. Facere odit, explicabo eaque excepturi laboriosam nobis blanditiis
        sequi reiciendis dolor necessitatibus.</p>
</div>
{% include "footer.html" %}