{% extends "base.html" %}
{% block content %}

<header>
    <div class="container card-container">
        <div class="header-image">
            <div class="header-content">
                <h1 class="md-heading">Hi, <span class="sm-heading">I am John Doe</span></h1>
                <h1 class="md-heading">FULL STACK DEVELOPER</h1>
            </div>
        </div>
    </div>
</header>
<section class="lower-head">
    <div class="container">
        <h2 class="md-heading">Work, I can do for <span class="lg-heading">you</span></h2>
    </div>
</section>
<section class="card-section">
    <div class="container card-container">
        <div class="cards">
            <div class="card card-1">
                <div class="card-image">
                    <img src="./images/image2.png" alt="">
                </div>
                <div class="card-heading sm-heading">
                    <h2>Front End</h2>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias harum impedit itaque ut! Ea,
                        ipsa.
                    </p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, sit a aperiam eum similique
                        repellendus aut laborum voluptatum ad ex voluptate ipsa facere, amet temporibus!</p>
                </div>
            </div>
            <div class="card card-2">
                <div class="card-image">
                    <img src="./images/image3.png" alt="">
                </div>
                <div class="card-heading sm-heading">
                    <h2>App Developer</h2>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias harum impedit itaque ut! Ea,
                        ipsa.
                    </p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, sit a aperiam eum similique
                        repellendus aut laborum voluptatum ad ex voluptate ipsa facere, amet temporibus!</p>
                </div>
            </div>
            <div class="card card-3">
                <div class="card-image">
                    <img src="./images/image4.png" alt="">
                </div>
                <div class="card-heading sm-heading">
                    <h2>UI/UX Design</h2>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias harum impedit itaque ut! Ea,
                        ipsa.
                    </p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, sit a aperiam eum similique
                        repellendus aut laborum voluptatum ad ex voluptate ipsa facere, amet temporibus!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="info">
    <div class="contact bg-green">
        <h1 class="md-heading">Contact Me</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit fuga, quia magni ullam amet iure ipsum
            maxime quas pariatur alias iusto veniam, consequuntur nulla sequi minus. Distinctio vitae consectetur
            nostrum?</p>

        <p>impracticalayan@gmail.com</p>
    </div>
    <div class="about bg-red">
        <h1 class="md-heading">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem maxime doloremque sapiente, ipsum
            quasi cumque ut harum cum eaque mollitia accusamus numquam beatae aliquam dolor soluta sunt labore
            obcaecati.</p>
        <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus quaerat deserunt voluptatum illum iste
                blanditiis nisi eos consequatur, inventore, maxime, expedita et sed dolor quia. Dicta nobis quas soluta
                dignissimos.</p> -->
    </div>
</section>
{% endblock %}